.c-btn {
  border-radius: var(--button-border-radius);
  border: var(--button-border-width) solid transparent;
  color: var(--button-color);
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: auto;
  line-height: var(--button-line-height);
  margin: 0;
  padding: var(--button-padding-y) var(--button-padding-x);
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  user-select: none;
  vertical-align: middle;
  width: auto;
}

a,
button,
input {

  &.c-btn {
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 3px var(--darken-3);
      outline: none;
    }

    &:hover {
      color: var(--white);
      box-shadow: inset 0 0 0 999px var(--darken-3);
    }
  }
}

:root {
  --button-border-width: 0;
  --button-border-radius: var(--border-radius);
  --button-color: var(--white);
  --button-font-family: inherit;
  --button-font-size: 16px;
  --button-font-weight: normal;
  --button-line-height: 1.5;
  --button-padding-y: 8px;
  --button-padding-x: 30px;
}
