{
    "extends": "airbnb",
    "rules": {
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "import/no-extraneous-dependencies": 0,
        "indent": ["error", 2],
        "no-console": 0
    },
    "globals": {
        "svg4everybody": true
    }
}
