{
  "extends": [
    "eslint:recommended",
    "standard",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["prettier"],
  "globals": {
    "svg4everybody": true
  }
}
