{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": "always-multi-line",
    "at-rule-no-unknown": [
      true,
      "ignoreAtRules": [
        "mixin",
        "add-mixin",
      ]
    ],
    "property-no-unknown": [
      true,
      "ignoreProperties": [
        "lost-column"
      ]
    ],
  }
}
