{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": "always-multi-line",
    "property-no-unknown": [
      true,
      "ignoreProperties": [
        "lost-column"
      ]
    ],
  }
}
