{
  "extends": "stylelint-config-standard",
  "rules": {
    "custom-property-empty-line-before": [
      "never",
      ignore: [
        "after-comment",
        "inside-single-line-block"
      ]
    ],
    "at-rule-empty-line-before": [
      "always",
      "except": [
        "blockless-after-same-name-blockless"
      ],
    ],
    "property-no-unknown": [
      true,
      "ignoreProperties": [
        "lost-column"
      ]
    ],
  }
}
