@import 'boxsizing';

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: var(--color-dark);
  font: 1rem var(--font-avenir);
  line-height: 1.5;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  transition: color 0.2s;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

blockquote,
dl,
ol,
ul,
p,
pre,
table {
  margin-bottom: 1.25em;
}

ol,
ul {
  padding-left: 1.25rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

td,
th {
  border-bottom: var(--border-width) solid rgba(0, 0, 0, 0.0625);
  padding: 0.5em 0;
  line-height: inherit;
}

th {
  text-align: left;
  font-weight: var(--font-weight-bold);
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

cite {
  font-style: normal;
}

code,
pre,
samp {
  font-family: var(--font-family-mono-space);
  font-size: 87.5%;
}

code,
samp {
  padding: 0.125em;
}

pre code {
  background-image: none;
  color: inherit;
  padding: 0;
}

iframe {
  border: 0;
}
