.u-m0  { margin:        0 }
.u-mt0 { margin-top:    0 }
.u-mr0 { margin-right:  0 }
.u-mb0 { margin-bottom: 0 }
.u-ml0 { margin-left:   0 }
.u-mx0 { margin-left:   0; margin-right:  0 }
.u-my0 { margin-top:    0; margin-bottom: 0 }

.u-m1  { margin:        var(--space-1) }
.u-mt1 { margin-top:    var(--space-1) }
.u-mr1 { margin-right:  var(--space-1) }
.u-mb1 { margin-bottom: var(--space-1) }
.u-ml1 { margin-left:   var(--space-1) }
.u-mx1 { margin-left:   var(--space-1); margin-right:  var(--space-1) }
.u-my1 { margin-top:    var(--space-1); margin-bottom: var(--space-1) }

.u-m2  { margin:        var(--space-2) }
.u-mt2 { margin-top:    var(--space-2) }
.u-mr2 { margin-right:  var(--space-2) }
.u-mb2 { margin-bottom: var(--space-2) }
.u-ml2 { margin-left:   var(--space-2) }
.u-mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
.u-my2 { margin-top:    var(--space-2); margin-bottom: var(--space-2) }

.u-m3  { margin:        var(--space-3) }
.u-mt3 { margin-top:    var(--space-3) }
.u-mr3 { margin-right:  var(--space-3) }
.u-mb3 { margin-bottom: var(--space-3) }
.u-ml3 { margin-left:   var(--space-3) }
.u-mx3 { margin-left:   var(--space-3); margin-right:  var(--space-3) }
.u-my3 { margin-top:    var(--space-3); margin-bottom: var(--space-3) }

.u-m4  { margin:        var(--space-4) }
.u-mt4 { margin-top:    var(--space-4) }
.u-mr4 { margin-right:  var(--space-4) }
.u-mb4 { margin-bottom: var(--space-4) }
.u-ml4 { margin-left:   var(--space-4) }
.u-mx4 { margin-left:   var(--space-4); margin-right:  var(--space-4) }
.u-my4 { margin-top:    var(--space-4); margin-bottom: var(--space-4) }

.u-mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
.u-mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
.u-mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
.u-mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }

.u-ml-auto { margin-left: auto }
.u-mr-auto { margin-right: auto }
.u-mx-auto { margin-left: auto; margin-right: auto; }

.u-mln2 { margin-left: -var(--space-2) }
