.u-hide { display: none; }
.u-show { display: block; }

@media (--breakpoint-sm) {
  .u-hide-sm { display: none; }
  .u-show-sm { display: block; }
}

@media (--breakpoint-md) {
  .u-hide-md { display: none; }
  .u-show-md { display: block; }
}

@media (--breakpoint-lg) {
  .u-hide-lg { display: none; }
  .u-show-lg { display: block; }
}
