extends ../layouts/_default

block locals

    - view.name = '404'
    - view.description = 'Page not found.'
    - view.url = `${site.url}/404.html`

block view

  +main()

    article
      header
        h2=view.name
      p=view.description
