extends ../layouts/_default

block locals

block content

  +main()
    +container()

      h1=site.name
      div(class='u-p3 u-bg-black')
        | ddjfkdjf
        +icon('facebook')(class='u-white')
