extends ../layouts/_default

block content

  +main()

    article(class='o-container u-py3')
      header
        h1=site.name
      p=site.description

      a(href='https://github.com/lanceguyatt/gulpstarter' target='_blank' class='u-black')
        +icon('github')
