.o-container {
  margin: * auto;
  max-width: var(--max-width-lg);
  padding: * var(--margin-width-xs);
  width: 100%;

  @media (--breakpoint-sm) {
    padding: * var(--margin-width-sm);
  }

  @media (--breakpoint-md) {
    padding: * var(--margin-width-md);
  }

  @media (--breakpoint-lg) {
    padding: * var(--margin-width-lg);
  }
}
