.o-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .c-main {
    flex: 1;
    min-height: content-height;
  }
}

.o-container {
  margin: * auto;
  max-width: 58.75rem;
  padding: * 1.5rem;
  width: 100%;
}
