@import 'grids';

.o-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.o-container {
  margin: * auto;
  max-width: 58.75rem;
  padding: * var(--space-2);
  width: 100%;
}
