:root {
  --color-dark: rgb(34, 34, 34);
  --color-light: rgb(255, 255, 255);
  --color-primary: rgb(238, 172, 87);
  --color-secondary: rgb(70, 140, 200);
  --color-danger: rgb(255, 0, 54);
  --color-info: rgb(23, 162, 184);
  --color-success: rgb(40, 167, 69);
  --color-warning: rgb(245, 166, 35);
  --color-darken-2: rgba(0, 0, 0, 0.125);
  --color-darken-3: rgba(0, 0, 0, 0.25);
  --color-darken-4: rgba(0, 0, 0, 0.05);
}
