:root {
  font-size: 10px;

  --font-family-mono-space: Roboto Mono, Source Code Pro, Menlo, Consolas, Liberation Mono, monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --darken-2: rgba(0, 0, 0, 0.125);
  --darken-3: rgba(0, 0, 0, 0.25);
  --darken-4: rgba(0, 0, 0, 0.05);

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 20px;
  --space-4: 40px;

  --aspect-ratio-4x3: 1.33;
  --aspect-ratio-3x2: 1.5;
  --aspect-ratio-16x9: 1.77;
  --aspect-ratio-21x9: 2.33;

  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 0;
  --caps-letter-spacing: var(--letter-spacing);

  --border-width: 1px;
  --border-radius: 2px;

  --h1: 48px;
  --h2: 40px;
  --h3: 30px;
  --h4: 24px;
  --h5: 16px;
  --h6: 12px;

  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--focus-hover :focus, :hover;
