@import '_colors';
@import '_breakpoints';
@import '_grids';
@import '_typography';

:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;
  --border-width: 1px;
  --border-radius: 2px;
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
}
