:root {
  --font-family-mono-space: Roboto Mono, Source Code Pro, Menlo, Consolas, Liberation Mono, monospace;
  --font-avenir: Avenir, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 0;
  --caps-letter-spacing: var(--letter-spacing);
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: 16px;
  --h6: 12px;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--focus-hover :focus, :hover;
