include objects/index
include components/index
include utilities/index

mixin main

  div(id='main' class='u-sr' itemprop='mainEntityOfPage')
  main(class='c-main')&attributes(attributes)
    block

mixin stringify(item, replacer = null, space = ' ')

  code
    pre=JSON.stringify(item, replacer, space)

mixin view(item)

  - view.title = `${item.name} - ${site.name}`
  - item.name ? view.name = item.name : site.name
  - item.description ? view.description = item.description : site.description
  - item.url ? view.url = item.url : site.url
  - item.image ? view.image = item.image : site.image
